*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";




}

header{
    background-color: black;
    color: white;
    position: sticky;
    z-index: 40;
    top:0;
  
}
nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 80px;
   

}

.logo img{
height: 100%;
width: 100%;

}
.logo{
    height: 80px;
    width: 100px;
}

.nav-menu{
padding-left: 200px;
display: flex;
align-items: center;
justify-content: center;
list-style: none;
gap: 60px;
font-size: 16px;
}
.nav-actions{
    position: relative;
}



.nav-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-actions button{
 position: relative;
    right: 20px;
    background-color: black;
    border: none;
   
    
}

.nav-actions button svg{
  
    /* height: 18px;
    width: 20px; */
    /* padding: 5px; */
    /* background-color: #000; */
    /* padding-top: 7; */
    padding-top: 4px;
    
   

}
.nav-actionsbutton button{
    /* background-color: black; */
    /* border: none; */
    background-color: gold;

}

.nav-actions{
    background-color: #000;
    border: 2px solid white;
    border-radius: 7px;
}



.nav-actions input{
     /* border-bottom: 2px solid white; */
     background-color: black ;
     height: 24px;
     width: 200px;
     color: white;
      padding:0 10px;
      outline: none;
    
 
 border: none;
  border-radius: 7px;
      
}



.hero{
    /* display: flex;
    align-items: start;
    justify-content: center;
    margin-left: 10px;
    gap: 100px;
    color: black;
    flex-direction: column;
    height: 100%;
    width: 100%;
   margin-top: 80px;  */

}
main {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("assets/hero.webp");
    width: 100%;
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* padding-top: 80px; */
    display: flex;
    align-items: center;
    justify-content: start;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 28px;
    margin: 0 110px;
    color: #fff;
    max-width: 700px;
    background: rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.07);
    height: 400px;
    margin-top: 30px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    width: 100%;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 8px;
}

.hero-desc {
    font-size: 20px;
    color: #fff;
    opacity: 0.95;
    margin-bottom: 12px;
    line-height: 1.5;
}

.hero button {  
     background-color: #fccd0f;
    color: #060606;
    border: none;
    height: 60px;
    width: 240px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    
    cursor: pointer;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);

}

.hero button:hover {
    background-color: #d8af0b;
    color: #222;
}

@media (max-width: 900px) {
    .hero {
        margin: 32px;
        padding: 24px;
        max-width: 90vw;
    }
    .hero h1 { font-size: 34px; }
    .hero-desc { font-size: 16px; }
    .hero button { width: 180px; font-size: 18px; }
}

@media (max-width: 600px) {
    main { padding-top: 40px; }
    .hero {
        margin: 12px;
        padding: 10px;
        width: 95vw;
        border-radius: 8px;
    }
    .hero h1 { font-size: 22px; }
    .hero-desc { font-size: 14px; }
    .hero button { width: 100%; font-size: 16px; height: 44px; }
}

.guide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    background-color: #F5F4F2;
    
}

.scroll {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 800px; /* shows approx 3 items */
    padding-bottom: 10px;
}

.items {
    /* flex: 0 0 160px; */
    border: 2px solid black;
    border-radius: 30px;
    height: 30px;
    /* width: max-content(3500px); */
    /* text-align: center; */
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    margin-right: 0;
    gap: 20px;
   
 
    
}

.items img{
    height: 25px;
    width: 25px;
}

.scroll {
    /* Existing styles... */
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.guide p{
    font-size: 32px;
    font-weight: 500;
    width: 400px;
}

.items p{
   width: auto;
   white-space: nowrap;
   font-size: 22px;
}

.sectionlist{
display: flex;
flex-direction: row;
gap: 50px;
margin-top: 40px;
 align-items: center;
    justify-content: center;

}

.list{
        height: 440px;
    width: 340px;
    border-radius: 20px;
    background:linear-gradient(to bottom, #D9D9D9 0px,#D9D9D9 188px, #E4DCD1 188px,#E4DCD1 480px);
   
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 25px 25px;
}

.listtop{
    height: 27.94px;
    width: fit-content;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    align-self: flex-start;
}

.listtop p{
    white-space: nowrap;
    font-size: 20px;
    color: black;
    font-weight: 500;
   
    /* align-self: flex-start; */
}



.listfirstp{
    font-size: 20px;
    align-self: flex-start;

}
.listsecondp{
    font-size: 16px;
    align-self: flex-start;
}

.list button{
   height: 55px; 
   width: 350px;
   background-color: black;
   border-radius: 20px;
   color: white;
   font-size: 20px;
}

.list img{
    height:252px ;
    width: 143.45px;
}

.listaboutus{
    display: flex;
    
    padding: 60px 115px;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;

}

.aboutustitle {
    font-size:28px ;
    font-weight: 600;
}
.aboutusdesc{
  text-align: justify;
    font-size: 20px;
 
}
.listaboutus button{
    width: 250px;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
       font-size: 22px;
       font-weight: 600;
}

.expert :nth-child(1){
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 15px;
}

.expert :nth-child(2){
    font-size: 18px;
    font-weight: 300;
   
}
.expert{
    padding:  25px;
    margin-bottom: 25px;

}

.experthealth{
    padding: 30px 90px;
    background-color: #E4DCD1;
}

.expertlist{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px ;
gap: 60px;
background-color: white;
border-radius: 20px;
margin: 0 20px;
/* width: 1000px; */

}
.expertlistimage{
background-color:#D9C7D3 ;
 height: 270px;
    width: 270px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
      background:linear-gradient(to bottom, #D9D9D9 0%,#D9D9D9 43%, #E4DCD1 43%,#E4DCD1 100%);
}
.expertlistimage img{
   height:200px ;
   width: 111.81px;

}

.expertlisttext{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    flex-direction: column;
    width: 80%;
}

.experttext1{
  font-size: 32px;  
  font-weight: 600;
}
.experttext2{
    font-size:16px ;
}

.expertlist button{
    width: 240px;
    height: 55px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    border: 3px solid black;

}

.experttop{
       height: 27.94px;
    width: fit-content;
    display: inline-block;
    background-color:  #63B223;
    border-radius: 10px;
    padding: 5px 20px;
    align-self: flex-start;
    color: white;
    font-weight: 500;

}
.wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.logotext p{
font-size: 18px;
font-weight: 600;
}
.logotext p{
    text-align: center;

}
.imagesection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.imagesection img{
    height:100px;
    width: 130px;
}
.imagewrap{
    border-radius: 50%;
    border: 5px solid #E4DCD1;
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trustlogo{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 170px;

}

.trustusp{
    margin-left: 30px;
    font-size: 28px;
    font-weight: 600;
    margin: 30px;
    margin-left: 60px;
    margin-top: 0px;
}
.trustus{
    margin-top: 40px;
    margin-bottom: 60px;


}

.review{
    background-color: #E4DCD1;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding:90px; */
    /* padding-top: 50px; */
    gap: 40px;
    justify-content: space-around;
  

    
}

.reviewimage{
   height: 300px; 
   width: 300px;
   border-radius: 20px;
}
.reviewimage img{
    border-radius: 20px;
}

.reviewbox{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    /* flex-shrink: 0; */
    /* min-width: fit-content; */
    /* justify-content: center; */


}

.star{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.reviewsmallimg{
    height: 35px;
    width: 35px;
    overflow: hidden;
    border-radius: 50%;
    /* background-position: center; */
}
.reviewsmallimg img{
    height: 35px;
    width: 35px;
    /* object-fit: cover; */
}
.smallreview{

}
.smallreviewf{
 font-weight: 600;
}
.smallreviews{
    font-size: 12px;
}

.reviewtext{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* padding-top: 30px; */
    height: 260px;
    gap: 15px;
    background-color: white;
    border-radius: 20px;
    justify-content: center;

   
    
}

.reviewtexttext{
text-align: justify;
font-size: 18px;
}
.smallreview{
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviewfp{
    font-size: 32px;
    font-weight: 700;
}
.reviewsp{
    font-size: 22px;
    font-weight: 400;
    
}



 .reviewwrapper{
    display: flex;              
    /* gap: 35px; */
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x:scroll;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    width: 100%;
    /* height: 100%; */
    /* height: 700px; */
    align-items: stretch;


}

.reviewwrapper::-webkit-scrollbar{ 
    display: none; 
}


/* FIXED REVIEW SECTION */
.review {
    background-color: #E4DCD1;
    min-height: 700px; /* Changed from height to min-height */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 90px;
    padding-top: 50px;
    padding-bottom: 10px;
    gap: 30px;
    justify-content: flex-start; /* Changed from space-around */
    overflow: hidden;
}

.reviewwrapper {
    display: flex;
    /* gap: 35px; */
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth; /* Added for smooth scrolling */
    width: 100%; /* Added to take full width */
    padding: 20px 10px 30px 10px; /* Added padding for scroll area */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.reviewwrapper::-webkit-scrollbar {
    display: none;
}

.reviewbox {
    display: flex;
    /* gap: 20px; */
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    width: 900px; /* Added fixed width for each review */
    min-height: 300px; /* Ensure consistent height */
}

.reviewimage {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    flex-shrink: 0; /* Prevent image from shrinking */
    border-radius: 20px;
}

.reviewimage img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure proper image fitting */
}

/* Optional: Navigation buttons */
.slider-controls {
    display: flex;
    gap: 20px;
    align-self: center;
    /* margin-top: 20px; */
}

.slider-prev, .slider-next {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-prev:hover, .slider-next:hover {
    background-color: #333;
}

.subscribecontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 10px 110px;
    background-image: url(leaf.jpg);
    width:1260px ;
    height: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 20px;

    background-size: cover;
}

.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    /* gap: 20px; */
}

.subscribefp{
    font-size: 32px;
    font-weight: 800;
}

.subscribesp{
    font-size: 20px;
    font-weight: 400;
    width: 600px;
    text-align: justify;
}
.subscribemail{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 20px;

}
.subscribemail input{
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: none;
    padding: 0 15px;
    font-size: 16px;
}

.subscribemail button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;

}

.memberimages img{
height: 35px;
width: 35px;
border-radius: 50%;
background-position: center;
background-size: cover;
position: relative;
}

.memberimages img:not(:first-child) {
    margin-left: -7px; /* Adjust overlap amount */
}
.memberimages{
    display: flex;
    flex-direction: row;
    
}
.memberlogos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}
.memberlogos p{
    font-size: 16px;
    font-weight: 600;
}

.memberimages img:nth-child(1),
.memberimages img:nth-child(5) {
    z-index: 1;
    
}


.memberimages img:nth-child(2),
.memberimages img:nth-child(4) {
    z-index: 2;
  
}

.memberimages img:nth-child(3) {
    z-index: 3;
}